/* Global style */

body {
    background-color: rgba(0, 0, 54, 0.9);
    font-family: "Moderustic", sans-serif;
    color: #8B0000;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

/* Parent container to hold the logo and text */
.header-container {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.header-container h1 {
    font-size: 2.5rem;
    color: #f0c419;

}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    opacity: 0.3;
    z-index: 1;
}

/* Game layout */
.game-area {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
}

.game-area p {
    margin-bottom: 10px;
}

/* Blurring of player and gradual reveal of player */
#player-image.blurred {
    filter: blur(20px);
    transition: filter 0.5s ease-in-out;
}

#player-image.reveal-1 {
    filter: blur(15px);
}

#player-image.reveal-2 {
    filter: blur(10px);
}

#player-image.reveal-3 {
    filter: blur(5px);
}

#player-image.reveal-4 {
    filter: blur(0px);
}



.image-container {
    max-width: 100%;
    height: auto;
}


#player-image {
    border-radius: 50%;
}

#feedback-message {
    font-size: 1.5rem;
}

.scores {
    font-size: 1.2rem;
    margin-top: 10px;
    color: hsl(48, 88%, 52%);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #f0c419;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

button {
    background-color: #f0c419;
    color: rgba(1, 1, 142, 0.9);
    padding: 10px 20px;
    border: solid;
    border-radius: 7.5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

}

button:hover {
    background-color: #d6a511;
}

p {
    font-size: smaller;
    font-weight: normal;
}

/* Media queries for smaller screens */
@media (max-width: 720px) {

    .header-container {
        width: 75%;
    }

    .game-area {
        width: 80%;
    }

    .logo {
        width: 50%;

    }

    img {
        width: 80%;
    }
}